# Compiled and downloaded files
*.pyc
*__pycache__
/lighter/eclair-cli
/lighter/rpc.proto
*_pb2*.py
/lighter/google
/compose.yml
/docker/qemu-*
/docker/Dockerfile.*
!/docker/Dockerfile.cross
!/docker/Dockerfile.ci
/complete-cliter.sh
/.bashrc
/.zshrc
/cliter.egg-info/
*.swp

# Tests coverage, lint and cache
/.coverage
/reports/*.report
**/.pytest_cache

# Lighter data directory
/lighter-data/config
/lighter-data/certs/
/lighter-data/db/
/lighter-data/logs/
/lighter-data/macaroons/

# Other
/.idea
