# Compiled and downloaded files
*.pyc
/lighter/eclair-cli
/lighter/rpc.proto
*_pb2*.py
/lighter/google
/compose.yml
/docker/qemu-*
/docker/Dockerfile.*
!/docker/Dockerfile.cross
!/docker/Dockerfile.ci
/complete-lit-cli.sh
/.bashrc_tmp
/lit_cli.egg-info/
*.swp

# Tests coverage, lint and cache
/.coverage
/reports/*.report
**/.pytest_cache

# Lighter data directory
/lighter-data
!/lighter-data/config.sample

# Other
/.idea
