# Compiled and downloaded files
*.bak
*_pb2*.py
*.pyc
**/__pycache__
*.swp
*.zip
/*/rpc.proto
/*/google*
!/docker/Dockerfile.ci
/examples/complete-*-*.sh
/*.egg-info/
/.eggs
/build
/dist

# Tests coverage, lint and cache
/.coverage
/reports/*.report
**/.pytest_cache

# Other
/.idea
/.vim
/.vscode
