# Commented variables which are set, hold default value



### Lighter settings ##########################################################

# Set which implementation to use
# Possible values: clightning, eclair, lnd (case-insensitive)
# IMPLEMENTATION=""

# If set to 1, Lighter listens in cleartext
# Note: implies disable of macaroons
# Possible values: 0, 1
# INSECURE_CONNECTION="0"

# Set Lighter's listening port
# PORT="1708"

# Specifies the private key path
# SERVER_KEY="./lighter-data/certs/server.key"

# Specifies the certificate (chain) path
# SERVER_CRT="./lighter-data/certs/server.crt"

# Specifies the location which will contain logs
# LOGS_DIR="./lighter-data/logs"

# Specifies the location which will contain database
# DB_DIR="./lighter-data/db"

# Specifies the location which will contain macaroons
# MACAROONS_DIR="./lighter-data/macaroons"

# If set to 1, macaroons authorization check will be disabled
# Note: do not disable macaroons in production
# DISABLE_MACAROONS="0"

# If set to 1, make run executes Lighter in docker
# If set to 0, make run executes Lighter locally
# Possible values: 0, 1
# DOCKER="1"

# Specifies the namespace for the docker image
# DOCKER_NS="inbitcoin"

# External docker network for Lighter to connect to
# DOCKER_NET=""

###############################################################################



### Implementation settings ###################################################


### c-lightning ###

# Specifies the location containing the CLI binary
# CL_CLI_DIR=""

# Specifies the c-lightning CLI binary, relative to CL_CLI_DIR
# CL_CLI="lightning-cli"

# Specifies the location containing the RPC file
# CL_RPC_DIR=""

# Specifies the c-lightning JSON-RPC socket file, relative to CL_RPC_DIR
# CL_RPC="lightning-rpc"


### eclair ###

# Specifies eclair host
# ECL_HOST="localhost"

# Specifies eclair port
# ECL_PORT="8080"


### lnd ###

# Specifies lnd host
# LND_HOST="localhost"

# Specifies lnd port
# LND_PORT="10009"

# Specifies the location containing the lnd certificate file
# LND_CERT_DIR=""

# Specifies the lnd certificate file, relative to LND_CERT_DIR
# LND_CERT="tls.cert"

###############################################################################
